*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  margin: 0 auto;
}

input, button, textarea {
  font-family: 'Montserrat', sans-serif;
  outline: none;
}

button {
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}

button:focus {
  outline: none;
}

a, a:visited, a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}

section {
  background: linear-gradient(#9ec4e2, #d79ba2);
}

.content {
  width: 100%;
}

.form-validator {
  display: none;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.validator {
  width: 400px;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.validator__title {
  text-align: center;
  margin-bottom: 30px;
}

.validator__part {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-size: 14px;
}

.validator__part:nth-of-type(4) {
  margin-bottom: 30px;
}

.validator__name {
  font-size: 16px;
  margin-bottom: 8px;
}

.validator__input {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 7px;
  margin-bottom: 5px;
  outline: none;
  font-size: 14px;
}

.validator__btn {
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  padding: 12px 20px;
  border: none;
  background-color: #407cff;
  color: #fff;
  transition: 0.5s;
}

.validator__btn:hover {
  box-shadow: 0 0 10px #407cff;
}

.validator__status {
  visibility: hidden;
}

.movie-seats {
  display: none;
  background-color: #121c2b;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.seat {
  width: 18px;
  height: 15px;
  margin: 5px;
  background-color: #3a3a3a;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 0 5px #3a3a3a;
  cursor: pointer;
  transition: 0.3s;
}

.seat:hover {
  transform: scale(1.2);
}

.seat-chose {
  background-color: #00a2b8;
  box-shadow: 0 0 5px #00a2b8;
}

.seat-occupy {
  background-color: #ffffff;
  box-shadow: 0 0 5px #ffffff;
  cursor: auto;
}

.seat-occupy:hover {
  transform: scale(1);
}

.movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.movie__select {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.movie__chose-name {
  margin-right: 20px;
}

.movie-select {
  padding: 5px;
  border: none;
  border-radius: 4px;
}

.movie__example {
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  background-color: #18203a;
  border-radius: 3px;
  margin-bottom: 40px;
}

.movie__example .seat {
  cursor: auto;
}

.movie__example .seat:hover {
  transform: scale(1);
}

.movie__screen {
  width: 100%;
  height: 100px;
  background-color: #fff;
  box-shadow: 0 0 20px #fff;
  transform: rotateX(-45deg);
}

.movie__screen-container {
  width: 100%;
  height: 100px;
  margin-bottom: 40px;
  perspective: 600px;
}

.movie__seats {
  margin-bottom: 50px;
}

.movie__seats-rows {
  display: flex;
  margin-bottom: 10px;
}

.movie__seats-row:nth-of-type(2) {
  margin-right: 28px;
}

.movie__seats-row:nth-of-type(7) {
  margin-left: 28px;
}

.movie__seats-back {
  display: flex;
}

.movie__info-value, .movie__info-price {
  font-size: 18px;
  font-weight: 700;
  color: #00a2b8;
}

.seat-example {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.seat-example:last-child {
  margin-right: 0;
}

.seat-example__name {
  margin-left: 10px;
}

.currency-calculator {
  display: none;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.currency {
  position: relative;
  width: 450px;
  padding: 40px;
  box-shadow: 0 0 20px 5px #dddddd;
  border-radius: 10px;
}

.currency__part:first-child {
  border-bottom: 1px solid #dddddd;
  padding-bottom: 50px;
}

.currency__part:last-child {
  padding-top: 50px;
}

.currency__top-select {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.currency__image {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.currency__select {
  padding: 5px;
  border: none;
  outline: none;
}

.currency__info {
  visibility: hidden;
  margin-bottom: 20px;
}

.currency__input {
  width: 100%;
  border: 1px solid #dddddd;
  padding: 20px 10px;
  border-radius: 5px;
  font-size: 30px;
  outline: none;
}

.calculate__button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}

.calculate__btn {
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 50%;
  background-color: #b4d2ff;
  box-shadow: 0 0 10px #b4d2ff;
  background-image: url("data:image/svg+xml,%3Csvg fill='%23ffffff' version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 512.001 512.001' style='enable-background:new 0 0 512.001 512.001;' xml:space='preserve'%3E%3Cg%3E%3Cg%3E%3Cpath d='M507.797,369.349L336.724,234.646c-4.877-3.839-12.081-0.366-12.081,5.864v86.829H204.155 c-4.123,0-7.464,3.341-7.464,7.464s3.341,7.464,7.464,7.464h127.951c4.123,0,7.464-3.341,7.464-7.464v-78.916l151.363,119.184 l-152.71,114.532v-75.324c0-4.123-3.341-7.464-7.464-7.464h-172.42c-67.113,0-107.673-39.768-120.413-104.623 c4.437,3.774,9.82,7.871,16.204,11.958c45.851,29.344,93.546,28.118,120.669,28.118c4.123,0,7.464-3.341,7.464-7.464 s-3.341-7.464-7.464-7.464c-21.165,0-68.127,2.365-111.948-25.334c-19.828-12.534-28.984-25.257-29.06-25.363 c-4.23-6.041-13.776-2.891-13.576,4.481c0.038,1.43,1.142,35.401,18.474,69.833c16.256,32.292,50.208,70.786,119.648,70.786 h164.957v82.787c0,6.143,7.033,9.651,11.942,5.971l172.42-129.315c1.854-1.39,2.958-3.565,2.984-5.883 C510.669,372.982,509.618,370.783,507.797,369.349z'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M473.308,161.046c-16.256-32.292-50.209-70.786-119.649-70.786h-19.147c-4.123,0-7.464,3.341-7.464,7.464 s3.341,7.464,7.464,7.464h19.147c67.116,0,107.674,39.77,120.414,104.623c-32.846-27.933-76.806-40.075-120.414-40.075H179.892 c-4.123,0-7.464,3.341-7.464,7.464v78.916L21.067,136.932L173.776,22.4v75.324c0,4.123,3.341,7.464,7.464,7.464h124.913 c4.123,0,7.464-3.341,7.464-7.464s-3.341-7.464-7.464-7.464H188.703V7.473c0-6.135-7.027-9.657-11.942-5.971L4.342,130.818 c-3.919,2.939-3.987,8.804-0.139,11.835l171.072,134.702c4.891,3.851,12.081,0.351,12.081-5.863v-86.829h166.303 c45.796,0,77.205,13.778,95.488,25.334c19.828,12.534,28.984,25.257,29.06,25.363c4.227,6.04,13.776,2.891,13.576-4.481 C491.745,229.449,490.64,195.478,473.308,161.046z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: center;
  transform: rotate(90deg);
  transition: 0.5s;
}

.calculate__btn:hover {
  box-shadow: 0 0 30px #b4d2ff;
}

.user-filter {
  display: none;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-filter__title {
  font-size: 25px;
  margin-bottom: 50px;
}

.filter-block {
  display: flex;
}

.filter-block__btns {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-right: 1px solid #000;
}

.filter-block__btn {
  padding: 10px 20px;
  margin-bottom: 20px;
}

.filter-block__main {
  padding: 20px;
}

.filter-block__titles {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.filter-block__person-title:first-child {
  margin-right: 70px;
}

.filter-block__person-calculates {
  display: flex;
  justify-content: space-between;
}

.person-names {
  width: 100%;
}

.modal {
  display: none;
  position: relative;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.modal__container {
  display: flex;
  align-items: center;
}

.modal__button {
  width: 170px;
  height: 60px;
  background-color: #fff;
  border: none;
  outline: none;
  margin-right: 50px;
  animation: modalBtns;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.modal__hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  width: 40px;
  height: 35px;
  padding: 5px;
  top: 50%;
  right: -80px;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 3px;
  cursor: pointer;
  animation: modalBtns;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.modal__hamburger-line {
  width: 100%;
  height: 5px;
  background-color: #ffffff;
}

.modal__menu {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 250px;
  height: 100%;
  padding: 30px;
  background-color: #fff;
  transform: translateX(-100%);
  transition: 0.5s;
}

.modal__menu-container {
  width: 350px;
  height: 450px;
  border-left: 1px solid #9e9e9e;
  overflow: hidden;
}

.modal__menu-image {
  width: 100px;
  height: 100px;
  background-color: #3d0000;
  border-radius: 50%;
  margin-bottom: 30px;
}

.modal__menu-name {
  padding: 10px;
  font-size: 20px;
}

.modal__block {
  position: relative;
  width: 300px;
  padding: 30px;
  background-color: #fff;
}

.modal__block-container {
  display: none;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: rgba(112, 112, 112, 0.5);
  animation: openModal;
  animation-duration: 0.5s;
}

.modal__block-input {
  margin-bottom: 20px;
}

.modal__block-close-btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
}

@keyframes modalBtns {
  0% {
    box-shadow: 0 0 0 #fff;
  }
  50% {
    box-shadow: 0 0 20px #fff;
  }
  0% {
    box-shadow: 0 0 0 #fff;
  }
}

@keyframes openModal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.expense {
  display: none;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.expense__wrapper {
  min-width: 500px;
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  text-align: center;
}

.expense__title {
  font-size: 30px;
  margin-bottom: 50px;
}

.expense__balance {
  margin-bottom: 20px;
}

.expense__balance-title {
  font-size: 20px;
  text-transform: uppercase;
}

.expense__balance-money {
  display: inline-block;
  font-size: 60px;
  font-weight: 700;
  color: #00b350;
}

.expense__balance-currency {
  font-size: 20px;
  display: inline-block;
}

.expense__info {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  border: 1px solid #fff;
  box-shadow: 0 0 20px #fff;
}

.expense__info:after {
  position: absolute;
  content: '';
  display: block;
  width: 1px;
  height: 90px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
}

.expense__part {
  width: 50%;
  padding: 20px 30px;
  text-align: center;
}

.expense__part:last-child .expense__part-money {
  color: #b80000;
}

.expense__part-title {
  font-size: 25px;
  margin-bottom: 10px;
}

.expense__part-money {
  font-size: 30px;
  color: #00b350;
}

.expense__history-title {
  padding: 10px;
  border-bottom: 1px solid #b8b8b8;
}

.expense__history-single {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 15px 30px 15px 20px;
  margin: 20px;
  border: 1px solid #ffffff;
  border-right: 5px solid #00b350;
  box-shadow: 0 0 10px #fff;
}

.expense__history-single:hover .expense__single-delete {
  display: flex;
  opacity: 1;
}

.expense__history-list {
  max-height: 200px;
  overflow-y: scroll;
}

.expense__single-name, .expense__single-value {
  font-size: 20px;
}

.expense__single-delete {
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -15px;
  right: -15px;
  width: 25px;
  height: 25px;
  background-color: #ff5e5e;
  border-radius: 50%;
  font-weight: 700;
  cursor: pointer;
  transition-duration: 0.5s;
}

.expense__new-title {
  padding: 10px;
  border-bottom: 1px solid #b8b8b8;
  margin-bottom: 20px;
}

.expense__new-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.expense__label {
  margin-bottom: 10px;
}

.expense__label span {
  font-size: 12px;
}

.expense__input {
  width: 70%;
  padding: 10px 15px;
  margin-bottom: 20px;
  border: 1px solid #b8b8b8;
  border-radius: 5px;
  outline: none;
}

.expense__btn {
  padding: 15px 50px;
  background-color: #b6bdff;
  color: #fff;
  border: none;
  outline: none;
  box-shadow: 0 0 5px #b6bdff;
  font-size: 20px;
  transition: 0.5s;
}

.expense__btn:hover {
  box-shadow: 0 0 20px #b6bdff;
}

.player {
  display: none;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.player__wrapper {
  position: relative;
}

.player__title {
  text-align: center;
  margin-bottom: 100px;
}

.player__main-block {
  position: relative;
  width: 530px;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 20px 20px 10px #d79ba2;
  z-index: 5;
}

.player__progress {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 500px;
  min-height: 100px;
  padding: 15px 20px 40px;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  transition: 0.5s;
  z-index: 4;
}

.player__progress-bar {
  width: 300px;
  height: 5px;
  margin-top: 25px;
  background-color: #fff;
  cursor: pointer;
}

.player__progress-bar-action {
  width: 50%;
  height: 100%;
  background-color: #ad0000;
}

.player__sound-name {
  width: 120px;
  font-size: 14px;
  text-align: center;
}

.player__image {
  position: absolute;
  width: 140px;
  height: 140px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  overflow: hidden;
}

.player__image:before {
  position: absolute;
  content: '';
  width: 25px;
  height: 25px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center center;
  border-radius: 50%;
  background-color: #fff;
  z-index: 1;
}

.player__navigation {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.player__change-btn {
  width: 70px;
  height: 70px;
  padding: 10px;
  cursor: pointer;
}

.player__play-btn {
  width: 65px;
  height: 65px;
  margin: 0 8px;
  cursor: pointer;
}

@keyframes spinImagePlayer {
  0% {
    transform: auto;
  }
  100% {
    transform: rotate(360deg);
  }
}

.blog {
  display: none;
  width: 100%;
  height: 100vh;
  align-items: flex-start;
  justify-content: center;
}

.blog__wrapper {
  max-height: 700px;
  margin-top: 10%;
  padding: 30px;
  text-align: center;
  overflow-y: scroll;
}

.blog__title {
  margin-bottom: 50px;
}

.blog__filter {
  margin-bottom: 30px;
}

.blog__filter-input {
  width: 100%;
  padding: 10px 20px;
  border: none;
  outline: none;
  box-shadow: 0 0 10px #fff;
}

.blog__content {
  width: 600px;
}

.blog__single {
  position: relative;
  width: 100%;
  padding: 30px;
  margin-bottom: 20px;
  background-color: rgba(93, 135, 170, 0.5);
  color: #fff;
  text-align: start;
  border-radius: 5px;
  box-shadow: 0 0 10px #5d87aa;
}

.blog__single-title {
  font-size: 25px;
  margin-bottom: 20px;
}

.blog__single-text {
  font-size: 14px;
}

.blog__single-number {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: -20px;
  top: -20px;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  font-size: 20px;
  font-weight: 700;
  color: #6e6e6e;
}

.blog__loading {
  text-align: center;
  margin-top: 20px;
  opacity: 0;
}

.bouncing-loader {
  display: inline-block;
  min-width: 13px;
  min-height: 13px;
  background: #fff;
  margin-bottom: -5px;
  border-radius: 50%;
  animation: bouncing-loader 0.6s infinite alternate;
}

.bouncing-loader:first-child {
  animation-delay: 0.2s;
}

.bouncing-loader:last-child {
  animation-delay: 1s;
}

@keyframes bouncing-loader {
  0% {
    opacity: 0.1;
    transform: translate3d(0, -16px, 0);
  }
}

.cards {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards__container {
  position: relative;
  width: 550px;
  padding: 30px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
}

.cards__title {
  margin-bottom: 30px;
}

.cards__btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.cards__clear-btn, .cards__add-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 210px;
  padding: 5px 20px;
  font-size: 14px;
  border: 1px solid #c0c0c0;
}

.cards__icon-img {
  width: 20px;
  height: 20px;
}

.cards__content {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  padding: 10px;
  min-height: 300px;
  margin-bottom: 20px;
}

.cards__content-wrapper {
  overflow: hidden;
}

.cards__card {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  min-height: 300px;
  padding: 30px;
  font-size: 25px;
  box-shadow: 0 0 10px #ffffff;
}

.cards__card-question, .cards__card-answer {
  font-size: 25px;
  word-break: break-all;
}

.cards__card-answer {
  display: none;
}

.cards__slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards__slide-arrow {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.cards__amount {
  display: flex;
  align-items: center;
  margin: 0 20px;
  font-size: 20px;
}

.cards__modal {
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(68, 68, 68, 0.5);
}

.cards__modal-title {
  margin-bottom: 20px;
}

.cards__modal-form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.cards__modal-name {
  margin-bottom: 5px;
}

.cards__modal-input {
  margin-bottom: 15px;
  padding: 10px;
}

.cards__modal-btn {
  width: 200px;
  padding: 5px 10px;
  margin: 0 auto;
  border: none;
  border-radius: 5px;
}

.cards__modal-close {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: #ff9494;
  border-radius: 50%;
  box-shadow: 0 0 5px #ff9494;
  cursor: pointer;
  transition: 0.2s;
}

.cards__modal-close:hover {
  box-shadow: 0 0 15px #ff9494;
}

.validator-error-status input {
  border-color: #ff3434;
}

.validator-error-status p {
  visibility: visible;
  color: #ff3434;
}

.validator-success-status input {
  border-color: #00990d;
}

.validator-success-status p {
  visibility: visible;
  color: #00990d;
}

.visibility-visible {
  visibility: visible;
}

.user-single {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.users-wealth {
  padding: 10px;
  text-align: right;
  font-size: 18px;
  font-weight: 700;
}

.open-modal-menu {
  transform: translateX(0);
}

.open-modal-block {
  display: flex;
  opacity: 1;
}

.border-red {
  box-shadow: 0 0 10px #9c0000;
  background-color: #9c0000;
}

.border-red:hover {
  box-shadow: 0 0 20px #9c0000;
}

.border-red-right {
  border-right-color: #9c0000;
}

.player-image-spin {
  animation: spinImagePlayer;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.player-image-pause {
  animation-play-state: paused;
}

.player-progress-show {
  transform: translate(-50%, -90px);
}

.blog-loading-show {
  opacity: 1;
}

.blog-single-hide {
  display: none;
}

.cards-modal-show {
  display: flex;
}

.cards-modal-close {
  display: none;
}
