*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  width: 100%;
  margin: 0 auto;
}

input, button, textarea {
  font-family: 'Montserrat', sans-serif;
}

button {
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
}

button:focus {
  outline: none;
}

a, a:visited, a:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}

.content {
  width: 100%;
}

.form-validator {
  display: none;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.validator {
  width: 400px;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.validator__title {
  text-align: center;
  margin-bottom: 30px;
}

.validator__part {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-size: 14px;
}

.validator__part:nth-of-type(4) {
  margin-bottom: 30px;
}

.validator__name {
  font-size: 16px;
  margin-bottom: 8px;
}

.validator__input {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 7px;
  margin-bottom: 5px;
  outline: none;
  font-size: 14px;
}

.validator__btn {
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  padding: 12px 20px;
  border: none;
  background-color: #407cff;
  color: #fff;
  transition: 0.5s;
}

.validator__btn:hover {
  box-shadow: 0 0 10px #407cff;
}

.validator__status {
  visibility: hidden;
}

.movie-seats {
  background-color: #121c2b;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.seat {
  width: 18px;
  height: 15px;
  margin: 5px;
  background-color: #3a3a3a;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 0 5px #3a3a3a;
  cursor: pointer;
  transition: 0.3s;
}

.seat:hover {
  transform: scale(1.2);
}

.seat-chose {
  background-color: #00a2b8;
  box-shadow: 0 0 5px #00a2b8;
}

.seat-occupy {
  background-color: #ffffff;
  box-shadow: 0 0 5px #ffffff;
  cursor: auto;
}

.seat-occupy:hover {
  transform: scale(1);
}

.movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.movie__select {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.movie__chose-name {
  margin-right: 20px;
}

.movie-select {
  padding: 5px;
  border: none;
  border-radius: 4px;
}

.movie__example {
  display: flex;
  justify-content: center;
  padding: 10px 20px;
  background-color: #18203a;
  border-radius: 3px;
  margin-bottom: 40px;
}

.movie__example .seat {
  cursor: auto;
}

.movie__example .seat:hover {
  transform: scale(1);
}

.movie__screen {
  width: 100%;
  height: 100px;
  background-color: #fff;
  box-shadow: 0 0 20px #fff;
  transform: rotateX(-45deg);
}

.movie__screen-container {
  width: 100%;
  height: 100px;
  margin-bottom: 40px;
  perspective: 600px;
}

.movie__seats {
  margin-bottom: 50px;
}

.movie__seats-rows {
  display: flex;
  margin-bottom: 10px;
}

.movie__seats-row:nth-of-type(2) {
  margin-right: 28px;
}

.movie__seats-row:nth-of-type(7) {
  margin-left: 28px;
}

.movie__seats-back {
  display: flex;
}

.movie__info-value, .movie__info-price {
  font-size: 18px;
  font-weight: 700;
  color: #00a2b8;
}

.seat-example {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.seat-example:last-child {
  margin-right: 0;
}

.seat-example__name {
  margin-left: 10px;
}

.validator-error-status input {
  border-color: #ff3434;
}

.validator-error-status p {
  visibility: visible;
  color: #ff3434;
}

.validator-success-status input {
  border-color: #00990d;
}

.validator-success-status p {
  visibility: visible;
  color: #00990d;
}
