// Validator 

.validator-error-status
  input 
    border-color: #ff3434
  p 
    visibility: visible
    color: #ff3434

.validator-success-status
  input 
    border-color: #00990d
  p 
    visibility: visible
    color: #00990d

