// Validator 

.validator-error-status
  input
    border-color: #ff3434
  p
    visibility: visible
    color: #ff3434

.validator-success-status
  input
    border-color: #00990d
  p
    visibility: visible
    color: #00990d

// Common 

.visibility-visible
  visibility: visible

.user-single
  display: flex
  justify-content: space-between
  padding: 10px

.users-wealth
  padding: 10px
  text-align: right
  font-size: 18px
  font-weight: 700

.open-modal-menu
  transform: translateX(0)

.open-modal-block
  display: flex
  opacity: 1

.border-red
  box-shadow: 0 0 10px #9c0000
  background-color: #9c0000
  &:hover
    box-shadow: 0 0 20px #9c0000

.border-red-right
  border-right-color: #9c0000

.player-image-spin
  animation: spinImagePlayer
  animation-duration: 5s
  animation-iteration-count: infinite
  animation-timing-function: linear

.player-image-pause
  animation-play-state: paused

.player-progress-show
  transform: translate(-50%, -90px)

.blog-loading-show
  opacity: 1

.blog-single-hide
  display: none

.cards-modal-show
  display: flex

.cards-modal-close 
  display: none
